.section-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#heading-accent {
    color: var(--color-secondary) !important;
}

.section-banner h1 {
    color: white !important;
}

.section-banner p:nth-of-type(2) {
    color: #ffffff !important;
}

