.how-it-works-section .section-inner {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.section-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    place-items: center;
}

.section-right .icon-text {
  color: var(--color-secondary);
}

.section-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 40px
}

.how-it-works-section .card {
    height: 180px;
    justify-content: flex-start;
}
.how-it-works-section a {
    color: var(--color-primary);
    text-decoration: none;
    width: fit-content;
    transition: 200ms;

}
.how-it-works-section a:hover {
    color: var(--color-secondary);
    text-decoration: underline;
    transition: 200ms;
}

@media (max-width: 1024px) {
    .section-right {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .section-left {
        justify-content: center;
        align-items: center
    }
}
@media (max-width: 576px) {
    .section-right {
        grid-template-columns: 1fr;
    }
    .how-it-works-section .section-inner {
        flex-direction: column;
    }
}