
.contact-details-section {
  display: flex;
  justify-content: center;
}
.contact-details-section .section-inner {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

/* Contact details */
.contact-details-section .contact-detail-list {
  
}
.contact-details-section .contact-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.contact-details-section .text {
  display: flex;
  flex-direction: column;
}
.contact-details-section .text h3 {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}
.contact-details-section .text p {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-primary);
  margin: 0;
}



.contact-details-section .form {
  width: 80%;
}