/* STEPS SECTION WITH CARDS */

.list-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;          
    margin: 0 auto;
    width: 100%;
    gap: 24px; 
}

.process-steps-section .section-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.cards-section {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 40%;
    min-width: 300px;
}

.process-steps-section .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

.cards-section__number-circle {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: 1.2rem;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    
    position: absolute;
    left: -25px;
    top: -25px;   
}

