:root {
    --navbar-gap: 75px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
}

.navbar-logo-image {
    display: block;
    max-height: 125px;
    width: auto;
}

/* Navbar right */
.navbar-right {
    display:flex;
    align-items: center;
    gap: var(--navbar-gap);
}
.navbar-right ul {
    display: flex;
    gap: var(--navbar-gap);
    list-style: none;
}
.navbar-right ul a {
    text-decoration: none;
    color: var(--color-primary);
    position: relative;
}
.navbar-right ul a:hover {
    font-weight: 400;
}
.navbar-right ul a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;                                    
    height: 1.5px;                            
    background-color: var(--color-primary);
    transition: width 0.25s ease;
}

.navbar-right ul a:hover::after {
    width: 100%;                                 
}

.navbar-right ul a.active::after {
    width: 100%;
}

@media (max-width: 1050px) {
    .navbar-logo-image {
        width:25vw;
        height: auto;
    }
    .navbar {
        padding: 10px 10px;
    }
    .navbar-right ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 20px;
        width: 100%;
        justify-content: center;
    }
    .navbar-right {
        gap: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .navbar {
        flex-direction: column;
        justify-content: space-between
    }
    
}