.whole-section {
  background: var(--color-light-gray);
}


.section-partnership__card {
   width: 100%;        
   margin: 0 auto;
   padding: 50px; 
   background-color: white;
}

.section-partnership__card .card-body{
  font-size: 1.2rem;
}