:root {
  /* Automatic styles */

  --mono: ui-monospace, Consolas, monospace;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /****** Custom styles *******/
  /* Font family */
  --font-main: "Plus Jakarta Sans", "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-segoe-ui: system-ui, 'Segoe UI', Roboto, sans-serif;


  /* Colors */
  --color-primary: oklch(32% .09 260);
  --color-primary-deep: oklch(24% .08 262);;

  --color-secondary: oklch(0.78 0.13 82);
  --color-secondary-soft: oklch(92% .06 84);
  
  --text-dark: oklch(0.48 0.03 258);
  --text-light: oklch(76.676% 0.00009 271.152);

  --color-white: white;
  --color-black: black;
  --button-hover-darkness: 0.15;

  --color-light-gray: color-mix(in oklab, oklch(0.97 0.01 250) 75%, transparent);

  /* Font */
  font-size: 18px;
  color: var(--text-dark);

  /* Roudning */
  --rounded-full: 28px;

  /* Animations */
  --small-transition: 200ms;

  /* Sizing and spacing */
  --max-width: 1200px;



  @media (max-width: 1024px) {
    --max-width: 90%;
    font-size: 16px;
  }
}
body {
  margin: 0;
  font-family: var(--font-main);
}

h1,
h2 {
  font-family: var(--font-main);
  font-weight: 700;
  color: var(--color-primary);
}

h1 {
  font-size: 3.1rem;
  margin: 32px 0;
  @media (max-width: 1024px) {
    margin: 20px 0;
  }
  @media (max-width: 480px) {
    font-size: 1.4444rem;
  }
}

h2 {
  font-size: 1.3rem;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 1.1rem;
  }
  @media (max-width: 480px) {
  }
}
p {
  margin: 0;
}