/* REASONS SECTION */
.reasons-section {
    background: #f0f3f8;
    padding: 80px 24px; 
}

.reasons-section .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 64px;               
    max-width: 1200px;       
    margin: 0 auto;          
}

/* LEFT SIDE (Heading) */
.reasons-section__left {
    flex: 1;
    max-width: 420px;       
    top: 40px;
}

/* RIGHT SIDE  */
.reasons-section__right {
    flex: 1.5;              
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;             
}